/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
  }
 
  body { 
    background: #050801;;
    height: 100vh;
    color: white;
    font-family: "Josefin Slab";
  }
  /* Init menu */
  .sidebar{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    background: #000000;
    z-index: 100;
    transition: all 0.5s ease;
    
  }
  .sidebar.close{
    width: 78px;
  }
  .sidebar .logo-details{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar .logo-details img{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
  }
  .sidebar .logo-details .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
  }
  .sidebar.close .logo-details .logo_name{
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
  }
  .sidebar.close .nav-links{
    overflow: visible;
  }
  .sidebar .nav-links::-webkit-scrollbar{
    display: none;
  }
  .sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li:hover{
    background: #1d1b31;
  }
  .sidebar .nav-links li .iocn-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar.close .nav-links li .iocn-link{
    display: block
  }
  .sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
  }
  .sidebar.close .nav-links i.arrow{
    display: none;
  }
  .sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  .sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    transition: all 0.4s ease;
  }
  .sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
  }
  .sidebar .nav-links li.showMenu .sub-menu{
    display: block;
  }
  .sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
  }
  .sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
  }
  .sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
  }
  .sidebar .nav-links li .sub-menu .link_name{
    display: none;
  }
  .sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
  }
  .sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details{
    background: none;
  }
  .sidebar.close .profile-details{
    width: 78px;
  }
  .sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;
  }
  .sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
  }
  .sidebar.close .profile-details img{
    padding: 10px;
  }
  .sidebar .profile-details .profile_name,
  .sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
  }
  .sidebar.close .profile-details i,
  .sidebar.close .profile-details .profile_name,
  .sidebar.close .profile-details .job{
    display: none;
  }
  .sidebar .profile-details .job{
    font-size: 12px;
  }
  .home-section{
    position: relative;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 65px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
  .home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 1;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .home-section .home-content .bx-menu,
  .home-section .home-content .text{
    font-size: 35px;
  }
  .home-section .home-content .bx-menu{
    margin: 0 15px;
    cursor: pointer;
    position: fixed;
    border-radius: 10px;
    background-color: #11101d;
    z-index: 99999;
  }
  .home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
    margin-left: 80px;
  }
  
  @media (max-width: 700px) {
    .sidebar.close .nav-links li .sub-menu{
      display: none;
    }
    .sidebar{
      width: 78px;
    }
    .sidebar.close{
      width: 0;
    }
    .home-section{
      left: 78px;
      width: calc(100% - 78px);
    }
    .sidebar.close ~ .home-section{
      width: 100%;
      left: 0;
    }
  }
  
  .slider-container{
    align-items: center;
  }

  .slider-container img {
    width: 500px;
    height: 500px;
    opacity: 0.4;
  }
  
/* Finish menu */  

/* header ---nav---*/
.nav {
  z-index: 1000;
  display:flex;
  justify-content:center;
  flex-direction: column;
  flex-wrap:wrap;
  align-items:flex-start;
  position: fixed;
  left: 90%;
  margin-top: 20%;
  margin-right: 62.5%;
  transform: rotateY(0deg) rotateX(0deg) scale(1);
  perspective: 379.546px;
}

#whatsapp {
  perspective: 450px;
  filter: drop-shadow(rgba(23, 219, 49, 0.986) 25px 10px 25px);
}

#rappi { 
  filter: drop-shadow(rgba(219, 111, 23, 0.986) 25px 10px 25px);
}

#instagram{ 
  width: 55px;
  height: 55px;  
  filter: drop-shadow(rgba(219, 23, 203, 0.986) 25px 10px 25px);
  margin: 20px; 
}

#whatsapp, #rappi {
  margin: 20px;
  width: 45px;
  height: 50px; 
}

#rappi:hover, #whatsapp:hover, #instagram:hover {
  transform: scale(1.5);
}
/* section historia */
.container-tittle {
  width: 80%;
  min-width: 300px;
  text-align: center;
  position: absolute;
  z-index: 1000;
}

.tittle-carousel {
	letter-spacing: .2em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;  
  text-shadow: 0 0 80px rgba(235, 242, 248, 0.932),0 0 32px rgba(233, 235, 241, 0.87);
	width: 100%;
	margin: 100px;
  margin-left: 30px;
  font-size: 1.4rem;
  text-align: center;
}

.tittle-carousel span {
  	font: 300 3em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);
/* Clip Background Image */
	  background: url(../img/oro.gif) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;
/* Animate Background Image */
	  -webkit-text-fill-color: transparent;
  }

p {
  font-size: 22px;
  margin-right: 52px;
}
.grid-history {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-left: 100px;
}

/* Section mision y vision */

.div-Mvision {
  margin-left: 150px;
  text-align: center;
}

.container-event {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}   

.shadows {
    position: absolute;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: transparent;
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 100px;
    transition: all 0.25s ease-out;
}

.shadows:hover {
    text-shadow: -16px 6px 15px #FFD700;
}

.eventos h1 {
  text-shadow: 0 0 80px rgba(235, 242, 248, 0.932),0 0 32px rgba(233, 235, 241, 0.87);
  font-size: 2.6rem;
  letter-spacing: .2em;
  display: flex;
  justify-content: center;
  position: relative;
  letter-spacing: .2em;
}

/* init footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-left: 70px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
    margin-left: 0px;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* finish footer */

/*---- mediaquerys ---- */
@media (max-width:767px)
{
  .slider-container img {
    width: 300px;
  }
  .tittle-carousel {
    margin: 0px;
    margin-bottom: 10%;
  }
  .nav
  {
    margin-right:0;
    left: 80%;
  }

  .grid-history {
    grid-template-columns: repeat(1,100%);
    margin-left: 70px;
    margin-right: 0px;
    text-align: center;
  }
  .collage-img img { 
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .div-Mvision {
    margin: 30px;
    margin-left: 70px;
  }
  .shadows {
    font-size: 60px;
  } 
  .container-event {
    height: 20vh;
    margin: 30px;
    margin-left: 0;
  }

} 
