/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  background: #050801;
  height: 100vh;
  font-family: "Josefin Slab";
  color: #fff;
  letter-spacing: .025em;
}
/* init loader */

#contenedor_carga{
  background-color: #11101d;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  transform: rotateZ(45deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  color: #fff;
}
  .loader:before,
  .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
  }
  .loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
  }

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: .2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: .2em .2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 .2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -.2em .2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -.2em -.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: .2em -.2em 0 0 currentcolor;
  }
}
/* finish loader */

/* Init header */
.sidebar{
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 270px;
  background: #000000;
  z-index: 100;
  transition: all 0.5s ease;
  
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details img{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  left: 260px;
  width: 100%;
  transition: all 0.5s ease;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
  grid-column: 1/4;
  grid-row: 1/2;
  z-index: 1;
  flex-wrap: wrap;
  margin-top: 15px;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #c6c6c6;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
  position: fixed;
  border-radius: 10px;
  background-color: #11101d;
  z-index: 99999;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
  margin-left: 80px;
}
@media (max-width: 900px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}

.slider-container{
  grid-column: 1/9;
  grid-row: 1/11;
}

.slider-container img{
  width: 100%;
  min-height: 300px;
  margin:0;
}
/* finish header */
/* header ---nav---*/
.nav {
  z-index: 1000;
  display:flex;
  justify-content:center;
  flex-direction: column;
  flex-wrap:wrap;
  align-items:flex-start;
  position: fixed;
  left: 90%;
  margin-top: 20%;
  margin-right: 62.5%;
  transform: rotateY(0deg) rotateX(0deg) scale(1);
  perspective: 379.546px;
}

#whatsapp {
  perspective: 450px;
  filter: drop-shadow(rgba(23, 219, 49, 0.986) 25px 10px 25px);
}

#rappi { 
  filter: drop-shadow(rgba(219, 111, 23, 0.986) 25px 10px 25px);
}

#instagram{ 
  width: 55px;
  height: 55px;  
  filter: drop-shadow(rgba(219, 23, 203, 0.986) 25px 10px 25px);
  margin: 20px; 
}

#whatsapp, #rappi {
  margin: 20px;
  width: 45px;
  height: 50px; 
}

#rappi:hover, #whatsapp:hover, #instagram:hover {
  transform: scale(1.5);
}
/* Init main */
/* init carousel */
.container-tittle {
  width: 80%;
  min-width: 300px;
  text-align: center;
}

.tittle-carousel {
	letter-spacing: .2em;
	display: inline-block;
	border: 4px double rgba(255,255,255,.25);
	border-width: 4px 0;
	padding: 1.5em 0em;  
  text-shadow: 0 0 80px rgba(235, 242, 248, 0.932),0 0 32px rgba(233, 235, 241, 0.87);
	width: 100%;
	margin: 100px;
  font-size: 1.4rem;
  text-align: center;
}

.tittle-carousel span {
  	font: 300 3em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);
/* Clip Background Image */
	  background: url(../img/oro.gif) repeat-y;
	  -webkit-background-clip: text;
	  background-clip: text;
/* Animate Background Image */
	  -webkit-text-fill-color: transparent;
  }

/* Animate Background Image */

@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}

/* init carrousel img */
.coverflow {
  position: relative;
  height: 460px;
  padding: 30px;
  overflow: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.coverflow__image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 400px;
  height: 400px;
  -webkit-transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 350ms cubic-bezier(0.215, 0.61, 0.355, 1);
  border: 15px solid rgba(0, 0, 0, 0.5);
  border-radius: 19px;  
}

.coverflow__image[data-coverflow-index] {
  position: absolute;
  left: 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.coverflow__image[data-coverflow-index]:before {
  content: " ";
  z-index: 1;
  position: absolute;
  top: 300px;
  width: 100%;
  height: 10%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
  transform: translateX(190px) scale(0.35) rotateY(-45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="1"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 6;
  -webkit-transform: translateX(280px) scale(0.2) rotateY(-45deg);
  transform: translateX(280px) scale(0.2) rotateY(-45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="2"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 7;
  -webkit-transform: translateX(190px) scale(0.35) rotateY(-45deg);
  transform: translateX(190px) scale(0.35) rotateY(-45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="3"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 8;
  -webkit-transform: translateX(100px) scale(0.5) rotateY(-45deg);
  transform: translateX(100px) scale(0.5) rotateY(-45deg);
  opacity: 0.33333;
}


.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 7;
  -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
  transform: translateX(-590px) scale(0.35) rotateY(45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.coverflow[data-coverflow-position="4"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 9;
  -webkit-transform: translateX(10px) scale(0.65) rotateY(-45deg);
  transform: translateX(10px) scale(0.65) rotateY(-45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="1"] {
  z-index: 6;
  -webkit-transform: translateX(-680px) scale(0.2) rotateY(45deg);
  transform: translateX(-680px) scale(0.2) rotateY(45deg);
  opacity: 0;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="2"] {
  z-index: 7;
  -webkit-transform: translateX(-590px) scale(0.35) rotateY(45deg);
  transform: translateX(-590px) scale(0.35) rotateY(45deg);
  opacity: 0.16667;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="3"] {
  z-index: 8;
  -webkit-transform: translateX(-500px) scale(0.5) rotateY(45deg);
  transform: translateX(-500px) scale(0.5) rotateY(45deg);
  opacity: 0.33333;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="4"] {
  z-index: 9;
  -webkit-transform: translateX(-410px) scale(0.65) rotateY(45deg);
  transform: translateX(-410px) scale(0.65) rotateY(45deg);
  opacity: 0.5;
}

.coverflow[data-coverflow-position="5"] .coverflow__image[data-coverflow-index="5"] {
  z-index: 10;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  box-shadow: 0 1px 25px 10px rgba(0, 0, 0, 0.6);
}

.prev-arrow,
.next-arrow {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  top: 50%;
  padding: 1.5rem 2rem;
  color: rgba(255, 255, 255, 0.5);
  font-size: 3rem;
  line-height: 3rem;
  background: transparent;
  border-radius: 1rem;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: color 200ms, background 200ms;
  transition: color 200ms, background 200ms;
}

.prev-arrow:hover,
.next-arrow:hover,
.prev-arrow:focus,
.next-arrow:focus {
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.5);
}

.prev-arrow {
  left: 10%;
}

.prev-arrow:before {
  content: "❮";
}

.next-arrow {
  right: 10%;
}

.next-arrow:after {
  content: "❯";
}
/* finish carousel */
/* init portafolio */
.container-portafolio {
  margin: 0;
  padding-top: 100px;
  width: 100%;
  text-align: center;
  background-image: url(../img/asesoria.PNG);
  background-repeat: no repeat;
  background-size: 100% 100%;
  box-shadow: 0 0 18px 18px #050801 inset;
}

.container-portafolio h3 {
  text-shadow: 0 0 80px rgba(235, 242, 248, 0.932),0 0 32px rgba(233, 235, 241, 0.87);
  margin: 1.5rem 0;
  font-size: 1.6rem;
  letter-spacing: .2em;
}

.container-portafolio p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.grid-portafolio {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  min-width: 300px;
  gap: 2px;
  margin: 20px auto;
  justify-content:center;
  align-items: center;
}

.img-grid {
  height: 400px;
  width: 390px;
  overflow: hidden;
  margin: auto;
  border-radius: 2%;
  border: 1px solid #fff;
  transition: all .4s ease-in-out;
  position: relative;
  box-shadow: -10px -10px rgba(7, 7, 7, 0.192),0 0 32px rgba(233, 235, 241, 0.87);
}

.img-grid img {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-curso {
  width: 471px;
  align-content: center;
  margin-left: 32%;
}

.hover-portafolio {
  position: absolute;
  background-image: url(../img/hover-portafolio.gif);
  background-size: 100% 0;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  object-fit: cover; 
  overflow: hidden;  
  transition: .5s ease;
  opacity: 0.9;
  text-align: center;
  padding-top: 50px;
}

.img-grid:hover .hover-portafolio {
  cursor: pointer;
  height: 100%;
  background-size: 100% 100%;
}

.hover-portafolio h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.hover-portafolio a {
  position: relative;
  display: inline-block;
  margin: 5px 0;
  padding: 15px 20px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 2px;
  overflow: hidden;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
}

.hover-portafolio a:hover {
  background: #EABE3F;
  color: #050801;
  box-shadow: 0 0 5px #FFD700,
              0 0 25px #FFD700,
              0 0 50px #FFD700,
              0 0 200px #FFD700;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}
.hover-portafolio a:nth-child(1){
  filter: hue-rotate(270deg);
}
.hover-portafolio a:nth-child(2){
  filter: hue-rotate(110deg);
}
.hover-portafolio a span{
  position: absolute;
  display: block;
}
.hover-portafolio a span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#FFD700);
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
      left: -100%;
  }
  50%,100%{
      left: 100%;
  }
}
.hover-portafolio a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#FFD700);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
      top: -100%;
  }
  50%,100%{
      top: 100%;
  }
} 
.hover-portafolio a span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#FFD700);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
      right: -100%;
  }
  50%,100%{
      right: 100%;
  }
}

.hover-portafolio a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#FFD700);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
      bottom: -100%;
  }
  50%,100%{
      bottom: 100%;
  }
}

/* Star overlay mayor de edad */
.overlay {    
background:#050801;
opacity: 0.8;
position: fixed;
z-index: 4;
height: 100%;
top: 0;
bottom: 0;
left: 0;
right: 0;
display: flex;
align-items: center;
justify-content: center;
visibility: hidden; 
font-family: 'Inconsolata', monospace;
}

.overlay.active {
visibility: visible;
}

.popup {
background-image: url(../img/hover-portafolio.gif);
background-size: 100% 100%;
transform: rotateY(0deg) rotateX(0deg) scale(1.3);
perspective: 379.546px;
filter: drop-shadow(rgba(162, 247, 232, 0.952) 0px 10px 15px);
border-radius: 3px;
padding: 20px;
text-align: center;
width: 600px;
height: 300px;
transition: .3s ease all;
transform: scale(0.7);
}

.popup h1 {
  border-radius: 10px;
  margin: 30px;
}

.popup h2 {
 font-size: 22px!important;
 margin: 10px;
}

.popup h3 {
  font-size: 16px!important;
  margin-top: 30px!important;
  margin: 10px;
  font-weight: 100;
}

.popup input {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: none!important;
  border: #FFD700!important;
  margin-left: 40px;
  color: #F8F8F8;
  font-size: 22px;
  font-weight: bold;
}

.popup input:hover {
  background: #EABE3F;
  box-shadow: 0 0 5px #FFD700,
              0 0 25px #FFD700,
              0 0 50px #FFD700,
              0 0 200px #FFD700;
   -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

/* Animaciones Overlay Cotizacion*/
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h1 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h2 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active input { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
from {
  opacity: 0;
  transform: translateY(-25px);
}

to {
  transform: translateY(0);
  opacity: 1;
}
}

@keyframes entradaSubtitulo {
from {
  opacity: 0;
  transform: translateY(25px);
}

to {
  transform: translateY(0);
  opacity: 1;
}
}

@keyframes entradaInputs {
from { opacity: 0; }
to { opacity: 1; }
}

/* Init section eventos */
.eventos {
  margin: 0;
  padding-top: 100px;
  width: 100%;
  text-align: center;
}

.container-event {
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}   

.shadows {
    position: absolute;
    text-transform: uppercase;
    text-shadow: -15px 5px 20px #ced0d3;
    color: transparent;
    letter-spacing: -0.05em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 100px;
    transition: all 0.25s ease-out;
}

.shadows:hover {
    text-shadow: -16px 6px 15px #FFD700;
}

.eventos h1 {
  text-shadow: 0 0 80px rgba(235, 242, 248, 0.932),0 0 32px rgba(233, 235, 241, 0.87);
  font-size: 2.6rem;
  letter-spacing: .2em;
  display: flex;
  justify-content: center;
  position: relative;
  letter-spacing: .2em;
}

.eventos p {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  letter-spacing: .2em;
}

.list-event {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: auto;
  width: 80%;
  min-width: 300px;
  height: 280px;
  gap: 2px;
  margin: 20px auto;
  justify-content:center;
  align-items: center;
  border-radius: 2%;
  border: 1px solid #fff;
  transition: all .4s ease-in-out;
  position: relative;
  box-shadow: -10px -10px rgba(7, 7, 7, 0.192),0 0 32px rgba(233, 235, 241, 0.87);
}

.event-1 {
  background-image: url("../img/evento_1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  height: 280px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
  overflow: hidden;
  transition: all .4s cubic-bezier(.61,-.44,.33,1.39);
  box-sizing: border-box;
}

.event-2 {
  background-image: url("../img/evento.gif");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  height: 280px;
  width: 100%;
  object-fit: cover;
  filter: grayscale(1);
  overflow: hidden;
  transition: all .4s cubic-bezier(.61,-.44,.33,1.39);
  box-sizing: border-box;
}

.event-cont1, .event-cont2 {
  visibility: hidden; 
}

.event-1:hover {
  width: 120%;
  height: 480px;
  filter: none;
  overflow: visible;
  object-fit: cover;
  filter: none;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0 0 18px 18px #050801 inset;
  transition: .3s ease all;
  display: flex;
  align-items: flex-end;
  padding-left: 25%;;
  padding-bottom: 20px;
}

.event-1:hover .event-cont1 {
  visibility: visible;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .1em;
  font-weight: bold;
  color: #ebdddd!important;
  filter: drop-shadow(rgba(247, 250, 249, 0.952) 0px 10px 15px);
}

.event-2:hover {
  height: 480px;
  filter: none;
  overflow: visible;
  object-fit: cover;
  filter: none;
  position: absolute;
  z-index: 5;
  border-radius: 5px;
  box-shadow: 0 0 18px 18px #050801 inset;
  transition: .3s ease all;
  background-size: 80% 80%;
  display: flex;
  align-items: flex-end;
  padding-left: 25%;
  padding-bottom: 10%;
}

.event-2:hover .event-cont2 {
  color: #050801;
  visibility: visible;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: .1em;
  color: #ebdddd!important;
  filter: drop-shadow(rgba(254, 255, 255, 0.952) 0px 10px 15px);
}

/* start footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-left: 70px;
  margin-top: 100px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0;
    margin-left: 0px;
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* finish footer */

/*---- mediaquerys ---- */
@media (max-width:768px)
  {
    .nav {
      left: 80%;
      margin-top: 10%;
      margin-right: 0;
    }
    #rappi, #whatsapp, #instagram {
      transform: scale(0.8);
    }
    .tittle-carousel {
      margin-bottom: 50px;
      margin-left: 0px;
      margin-right: 0px;
    }
    .tittle-carousel span { 
      font: 300 2em/1 "Oswald", sans-serif;
    }
    .coverflow {
      margin-left: 15%;
      -webkit-perspective: 500px;
      perspective: 500px;
    }	
    .coverflow__image {
      width: 250px;
      height: 250px;
      border: 0px solid rgba(0, 0, 0, 0.5);
    }
    .prev-arrow,.next-arrow {
      top: 80%
    }
    .coverflow__image[data-coverflow-index] {
      left: 80%;
    }

    .grid-portafolio {
      grid-template-columns: repeat(1,1fr);
      margin: 30px;
    }
    
    .img-grid, .content-curso img {
      width: auto;
    }

    .curso {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      margin: 30px;
    }
    .overlay {
      width:375px;
     }
    .shadows {
      font-size: 43px;
    }
    .eventos {
      padding-top: 30px;
      margin: 30px;
      margin-left: 10px;
    }
    .container-event {
      height: 20vh;
      margin: 30px;
      margin-left: 0;
    }
    .event-1:hover {
      width: 230%;
      padding-left: 15%;
      font-size: 10px;
      padding-top: 20%;
    }
    
    .event-2:hover {
      width: 125%;
      padding-left: 5%;
      padding-bottom: 40%;
    }
  } 

  
